.debug{
    border: 1px solid red;
}


/******************
        HEADER
*********************/

header{
    height: 70px;

    /*debug*/
    background-color: rgb(199, 169, 130);
}

.ms_logo_small{
    width: 40px;
}

/******************************************************
                        MAIN
******************************************************/

/******************
        ASIDE
*********************/

aside{
    width: 10vw;
    max-width: 150px;
    min-width: 45px;
    height: calc(100vh - 70px);

    /*debug*/
    background-color: rgb(48, 48, 119);
}

aside .btn{
    color: white;
}

/*****************************
            BODY
*****************************/

#body{
    height: calc(100vh - 70px);
}


/******************
        #HEADER
*********************/

#header{

    /*debug*/
    height: 80px;
    background-color: rgb(48, 137, 153);
}

#header .container{
    
}

/******************
        #MAIN
*********************/

#main .ms_container{
    margin: 0;
}

