.debug{
    border: 1px solid red;
}


/******************
        HEADER
*********************/

header{
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.ms_logo_small{
    width: 40px;
}

/******************************************************
                        MAIN
******************************************************/

/******************
        ASIDE
*********************/

aside{
    width: 10vw;
    max-width: 150px;
    min-width: 45px;
    height: calc(100vh - 70px);
    background-color: #132940;
}

aside .btn{
    color: white;
}

/*****************************
            BODY
*****************************/

#body{
    height: calc(100vh - 70px);
}


/******************
        #HEADER
*********************/

#header{

    /*debug*/
    height: 80px;
    background-color: #1b72e8;
}

#header .container{
    
}

/******************
        #MAIN
*********************/

#main .ms_container{
    margin: 0;
}

#main .table *{
    font-size: 0.8rem;
}

#main .card > div:first-child{
    background-color: #f7f7f7;
    border-bottom: 1px solid #d2d2d2;
}

#main .table img{
    width: 5%;
    margin-right: 10px;
}

#main .table .done,
#main .table .process,
#main .table .failed{
    color: white;
    padding: 0 3px;
    font-size: 0.7rem;

}

#main .table .done{
    background-color: #198754;
}
#main .table .process{
    background-color: #ffc107;
}
#main .table .failed{
    background-color: #dc3545;
}
